@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,300&family=Libre+Baskerville&display=swap');

body {
    margin: 0;
    padding: 0;
    position: relative;
    background: rgb(57, 209, 110);
    width: 100vw;
    height: 100vh;
}

.carregamento {
    color: #fff;
    text-align: right;
    background-color: black;
    position: absolute;
    transform: translateY(-100%); 
    width: 100%;
    height: 100%;
    transition: .5s;
}

img {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40vw;
}

h2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

button {
    width: 30vw;
    height: 8vh;
    margin-top: 1vh;
    text-align: left;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    background: transparent;
    position: relative;
    border: none;
    padding: 10px;
}

.voltar {
    width: 7.5vw;
    height: 6vh;
    cursor: pointer;
    border-radius: 20px;
    color: black;
    background: rgb(231, 237, 230);
    position: absolute;
    right: 10px;
    bottom: 4vh;
    text-align: center;
}

.botao:hover:enabled {
    cursor: pointer;
    color: white;
    background: rgb(105, 217, 73);
    background: linear-gradient(90deg, rgba(105, 217, 73, 1) 48%, rgba(105, 217, 73, 0.14359247116815477) 100%);
    border-radius: 10px 0px 0px 10px;
}

.botao:hover:enabled:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgb(12, 169, 6), rgba(140, 0, 255, 0));
    z-index: -1;
    margin: -3px;
    border-radius: 10px;
}

.telamenu {
    width: 1080px;
    height: 540px;
    background-image: url("sala de aula.png");
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid black;
    overflow: hidden;
}

.todosbotoes {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.musicadiv {
    width: 4vw;
    height: 6vh;
    margin-left: 2vw;
    background-image: url("musicadesligada.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.jogo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
}

.creditos {
    color: white;
    text-align: center;
    background-color: black;
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    transition: 1s;
}

canvas {
    border: 0;
    width: 98vw;
    height: 98vh;
}

.musicas {
    display: flex;
    width: 1080px;
}